<%- include("partials/header.ejs") %>

<div class="notify_container">
    <div style="height: 50px;"></div>   



    <div class="inner_notify_container">
        <div class="notify_content">
            <img src="https://livpure.com/cdn/shop/products/livpure-coolers-multicool-mini-desert-cooler-36534282420377.png?v=1680248951&width=713 " width="200px" style="height: auto;" >
            <div style="text-align: start;">
                <h3>Name: Manas Sandip Jungade</h3>
                <h3>Contact No: 8855043347</h3>
                <h3>Id : 28698</h3>
                <p>Hey! I want to buy your Product, <br> Lets Meet</p>
                <div class="btn">
                    <button type="button" class="btn btn-danger">Mark As Read</button>
                </div>
                
                
            </div>
        </div>
        

    </div>
    <div class="inner_notify_container">
        <div class="notify_content">
            <img src="https://livpure.com/cdn/shop/products/livpure-coolers-multicool-mini-desert-cooler-36534282420377.png?v=1680248951&width=713 " width="200px" style="height: auto;" >
            <div style="text-align: start;">
                <h3>Name: Manas Sandip Jungade</h3>
                <h3>Contact No: 8855043347</h3>
                <h3>Id : 28698</h3>
                <p>Hey! I want to buy your Product, <br> Lets Meet</p>
                <div class="btn">
                    <button type="button" class="btn btn-danger">Mark As Read</button>
                </div>
                
                
            </div>
        </div>
        

    </div>
    <div class="inner_notify_container">
        <div class="notify_content">
            <img src="https://livpure.com/cdn/shop/products/livpure-coolers-multicool-mini-desert-cooler-36534282420377.png?v=1680248951&width=713 " width="200px" style="height: auto;" >
            <div style="text-align: start;">
                <h3>Name: Manas Sandip Jungade</h3>
                <h3>Contact No: 8855043347</h3>
                <h3>Id : 28698</h3>
                <p>Hey! I want to buy your Product, <br> Lets Meet</p>
                <div class="btn">
                    <button type="button" class="btn btn-danger">Mark As Read</button>
                </div>
                
                
            </div>
        </div>
        

    </div>
    
    
</div>
<%- include("partials/footer.ejs") %>