#maincont{
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    height:  auto !important
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.container{
    
    width: 100%;
}
.itemcontainer{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 3px solid #5A72A0;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    padding-left: 5px;
    box-shadow: 10px 10px black;
    position: relative;
}

.inner_container{
  flex-grow: 2;
  display: inline-flex;
  justify-content: center;
 align-items: stretch;
   
   
}
p{
    margin: 0;
}

  
  .icon-button {
    position: relative;
    width: 40px;
    height: 40px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
  }
  
  .icon-button:hover {
    cursor: pointer;
  }
  
  .icon-button:active {
    background: #cccccc;
  }
  
  .icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .prod_img{
    width: 300px;
    height: 300px;
  }
  @media only screen and (max-width: 700px) {
   .prod_container{
    display: block;
    justify-content: center;

   }
   .prod_img{
    width: 100%;
   }
  }
 .circle{
  width: 55px;
  height: 55px;
  background-color: green;
  border-radius: 50%;
  margin: auto;
  border: #333333;
 }
 .popup{
   width: 400px;
   background: #fff;
   border-radius: 6px;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%,-50%) scale(0.1);
   text-align: center;
   padding: 0 30px 30px;
   color: #333;
   visibility: hidden;
   transition: transform 0.4s, top 0.4s;
 }
 .open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
 }

 .popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
 }
 .popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
 }
 .popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
 }